body {background-color: gray;
            font-size: larger;
            font-weight: bold;
    height: 368px;
}

.title {
			font-size: 22pt;
			font-variant: all-caps;
			font-weight: bold;
			text-align:center;
			margin-top: 15px;
			margin-bottom: 0px; 
		}